$VAR1 = {
          '1' => {
                   'web' => 'http://streaming.q-music.be/QBE_HI',
                   'fm' => '88.6M',
                   'name' => 'Q-Music'
                 },
          '3' => {
                   'web' => 'http://streaming.4fm.be/4fm_hi',
                   'fm' => '104.1M',
                   'name' => 'Joe FM'
                 },
          '2' => {
                   'web' => 'http://mp3.streampower.be/stubru-high.mp3',
                   'fm' => '102.1M',
                   'name' => 'Studio Brussel'
                 }
        };
